[Interface]
Address = {{client_ip}}
PrivateKey = {{private_peer_key}}
ListenPort = 51820
DNS = {{peer_dns}}

[Peer]
PublicKey = {{public_server_key}}
PresharedKey = {{preshared_key}}
Endpoint = {{server_url}}:{{server_port}}
AllowedIPs = {{allowed_ips}}